* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.827);
    height: 70px;
    line-height: 70px;
}

.choice {
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.791);

}

img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.score-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 50px;
    font-size: 40px;
}

#message {
    margin-top: 40px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

.turn-message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(66, 66, 203);
}