* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 221, 190);
}
.container {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    min-height: 50vh;
    width: 50vh;
}

form {
    margin: 20px 0 10px 0;

}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.select-container img {
    max-width: 35px;
}

.select-container {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
}

.dropdown {
    i {
        font-size: 20px;
        margin-top: 20px;
    }
}

.message {
    margin: 30px 0 30px 0;
}

button {
    height: 30px;
    background-color: rgb(94, 94, 192);
    color: white;
    border-radius: 5px;
}