* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 221, 190);
}
.container {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    min-height: 50vh;
    width: 50vh;
}

form {
    margin: 20px 0 10px 0;

}