#myDiv {
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#secondDiv {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}