* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    margin-left: 20px;
}

#todoText {
    width: 300px;
    height: 40px;
    margin-top: 20px;
}

.addButton {
    padding: 7px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    background-color: lightseagreen;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;
}

.deleteButton {
    background-color: peru;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}