* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #548687;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 70%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 30%;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #b1403e;
     background-color: white;
}

.winner-message {
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.new-game-btn,
.reset-game-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.hide {
    display: none;
}